<h2>Mensaje de Bienvenida</h2>
<div *ngIf="!mostrarForm">
  <p>{{ mensaje }}</p>
  <button (click)="mostrarForm = true">Editar nombre</button>
  <button (click)="toggleLista()">Mostrar/Ocultar lista</button>
</div>
<div *ngIf="mostrarForm">
  <label for="nombreInput">Nombre:</label>
  <input type="text" id="nombreInput" [(ngModel)]="nombre">
  <button (click)="actualizarMensaje()">Ingresar</button>
</div>
<div *ngIf="mostrarLista">
  <h3>Últimos 10 nombres ingresados:</h3>
  <ul>
    <li *ngFor="let n of nombres">{{ n }}</li>
  </ul>
</div>
